<div id="gotoTop" class="icon-angle-up"></div>
<script src="{{ 'assets/js/jquery.js' | relative_url }}"></script>
<script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
<script src="{{ 'assets/js/functions.js' | relative_url }}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="{{ 'assets/js/smtpjs.js' | relative_url }}?t={{ 'now' | date: '%Y%m%d%H%M' }}"></script>
<script src="{{ 'assets/js/form.js' | relative_url }}?t={{ 'now' | date: '%Y%m%d%H%M' }}"></script>
<script src="{{ 'assets/js/notify.js' | relative_url }}"></script>