<!-- Footer
============================================= -->
<footer id="footer" class="dark">

	<div class="container">

		<!-- Footer Widgets
		============================================= -->
		<div class="footer-widgets-wrap clearfix">

			<div class="col_third">

				<div class="col_one_third">

					<div class="widget clearfix">

						<img src="{{ 'assets/images/footer-widget-logo-dark.png' | relative_url }}" alt="" class="footer-logo">

						<p><strong>{{ site.company_name }}</strong></p>

						<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
							<address>
								<strong>Sede legale e uffici:</strong><br>
								{{ site.company_addr }}
							</address>
							<abbr title="Partita IVA"><strong>Partita IVA:</strong></abbr> {{ site.company_id }}<br>
							<abbr title="Capitale sociale"><strong>Capitale sociale:</strong></abbr> {{ site.company_share_capital }}<br>
							<abbr title="Telefono"><strong>Telefono:</strong></abbr> {{ site.company_phone }}<br>
							<abbr title="Indirizzo email"><strong>Email:</strong></abbr> {{ site.company_email }}<br>
							<abbr title="Indirizzo PEC email"><strong>PEC:</strong></abbr> {{ site.company_pec_email }}
						</div>

					</div>

				</div>

				{% include navFooter.html %}

				<div class="col_one_third col_last">

					<div class="widget clearfix">
						<h4>Seguici</h4>

						<div class="fleft clearfix">
							<a href="{{ site.facebook_page }}" class="social-icon si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
			
							<a href="{{ site.instagram_page }}" class="social-icon si-small si-borderless si-instagram">
								<i class="icon-instagram"></i>
								<i class="icon-instagram"></i>
							</a>
			
							<a href="{{ site.linkedin_page }}" class="social-icon si-small si-borderless si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
			
						<div class="clear"></div>
			
						<div><i class="icon-envelope2"></i> <a href="#" title=" Contattaci">{{ site.company_email }}</a></div>
						<div><i class="icon-headphones"></i> {{ site.company_phone }}</div>

					</div>

				</div>

			</div>

		</div><!-- .footer-widgets-wrap end -->

	</div>

	{% include copyright.html %}

</footer><!-- #footer end -->