<!-- Footer
============================================= -->
<footer id="footer" class="dark">

	<div class="container">

		<!-- Footer Widgets
		============================================= -->
		<div class="footer-widgets-wrap clearfix">

			<div class="col_third">

				<div class="col_one_third">

					<div class="widget clearfix">

						<img src="{{ 'assets/images/footer-widget-logo-dark.png' | relative_url }}" alt="" class="footer-logo">

						<p><strong>{{ site.company_name }}</strong></p>

						<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
							<address>
								<strong>Sede legale e uffici:</strong><br>
								{{ site.company_addr }}
							</address>
							<abbr title="Partita IVA"><strong>Partita IVA:</strong></abbr> {{ site.company_id }}<br>
							<abbr title="Capitale sociale"><strong>Capitale sociale:</strong></abbr> {{ site.company_share_capital }}<br>
							<abbr title="Telefono"><strong>Telefono:</strong></abbr> {{ site.company_phone }}<br>
							<abbr title="Indirizzo email"><strong>Email:</strong></abbr> {{ site.company_email }}<br>
							<abbr title="Indirizzo PEC email"><strong>PEC:</strong></abbr> {{ site.company_pec_email }}
						</div>

					</div>

				</div>

				<div class="col_one_third">

					<div class="widget widget_links clearfix">

						<h4>{{ site.data.footermenu.docs_title }}</h4>

						<ul>
   							{% for item in site.data.footermenu.docs %}
							<li><a href="{{ item.url }}">{{ item.title }}</a></li>
   							{% endfor %}	
						</ul>

					</div>

				</div>

				<div class="col_one_third col_last">

					<div class="widget clearfix">
						<h4>Recent Posts</h4>

						<div id="post-list-footer">
							<div class="spost clearfix">
								<div class="entry-c">
									<div class="entry-title">
										<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
									</div>
									<ul class="entry-meta">
										<li>10th July 2014</li>
									</ul>
								</div>
							</div>

							<div class="spost clearfix">
								<div class="entry-c">
									<div class="entry-title">
										<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
									</div>
									<ul class="entry-meta">
										<li>10th July 2014</li>
									</ul>
								</div>
							</div>

							<div class="spost clearfix">
								<div class="entry-c">
									<div class="entry-title">
										<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
									</div>
									<ul class="entry-meta">
										<li>10th July 2014</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div><!-- .footer-widgets-wrap end -->

	</div>

	{% include copyright.html %}

</footer><!-- #footer end -->