

<!-- Primary Navigation
============================================= -->
<nav id="primary-menu" class="dark">
    <ul>
        {% for item in site.data.headermenu.toc %}
        <li><a href="{{ site.url }}/{{ item.url }}"><div>{{ item.title }}</div></a>
            <!--ul>
                {% for entry in item.subfolderitems %}
                <li><a href="{{ site.url }}/{{ entry.url }}"><div>{{ entry.page }}</div></a></li>
                {% endfor %}
            </ul-->
        </li>
        {% endfor %}
    </ul>

</nav><!-- #primary-menu end -->