<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">
    <div class="slider-parallax-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="background-image: url('assets/images/slider/slider_1.jpeg');">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-animate="fadeInUp">Fiducia</h2>
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">Sempre la soluzione ideale</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide dark" style="background-image: url('assets/images/slider/slider_2.jpeg');">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-animate="fadeInUp">Garanzia</h2>
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">Unico punto di riferimento</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide dark" style="background-image: url('assets/images/slider/slider_3.jpeg');">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-animate="fadeInUp">Esperienza</h2>
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">Collaboratori altamente specializzati</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
        </div>

        <a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

    </div>
</section>