<div class="section nobottommargin">
    <div class="container clear-bottommargin clearfix">

        <div class="row topmargin-sm clearfix">

            <div class="col-lg-4 bottommargin">
                <i class="i-plain color i-large icon-line-heart inline-block" style="margin-bottom: 15px;"></i>
                <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                    <span class="before-heading">Sempre la soluzione ideale</span>
                    <h4>La fiducia</h4>
                </div>
                <p><b>APC ELETTRORAPPRESENTANZE</b> guida passo passo il cliente diventando unico interlocutore per la scelta della soluzione ideale tra le diverse tipologie di impianto.</p>
            </div>

            <div class="col-lg-4 bottommargin">
                <i class="i-plain color i-large icon-line-lock inline-block" style="margin-bottom: 15px;"></i>
                <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                    <span class="before-heading">Unico punto di riferimento</span>
                    <h4>La garanzia</h4>
                </div>
                <p>Avere un unico riferimento per tutto questo fa si che <b>APC ELETTRORAPPRESENTANZE</b> possa assumere sempre più un ruolo centrale e fondamentale nel mercato elettrico.</p>
            </div>

            <div class="col-lg-4 bottommargin">
                <i class="i-plain color i-large icon-buromobelexperte inline-block" style="margin-bottom: 15px;"></i>
                <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                    <span class="before-heading">Supporto a 360°</span>
                    <h4>L'esperienza</h4>
                </div>
                <p>Mettere in gioco la sua energia per rendere la propria attività meno legata all'ufficio e votata alla strada e al cliente</p>
            </div>

        </div>

    </div>
</div>