<span class="anchor" id="servizi"></span>
<div class="container clearfix">

    <div class="heading-block topmargin-lg center">
        <h2>Giovane, dinamica, innovativa e altamente specializzata</h2>
        <span class="divcenter">Si avvale di collaboratori altamente specializzati sia in ambito tecnico che commerciale, presente su Bergamo Brescia Cremona e Mantova.<br>Collabora con aziende di alto spessore in ambito Elettrico, Illuminotecnico, in Impianti Speciali e di Sicurezza.</span>
    </div>

    <div class="row bottommargin-sm">

        <div class="col-lg-4 col-md-6 bottommargin">

            <div class="feature-box fbox-right topmargin" data-animate="fadeIn">
                <div class="fbox-icon">
                    <a href="#"><i class="icon-ruler"></i></a>
                </div>
                <h3>Progettazione</h3>
                <p>Supporto Progettuale verso i Tecnici e Progettisti</p>
            </div>

            <div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="200">
                <div class="fbox-icon">
                    <a href="#"><i class="icon-handshake"></i></a>
                </div>
                <h3>Commerciale</h3>
                <p>Supporto alle strutture Tecniche e Commerciali dei Grossisti di Materiale Elettrico</p>
            </div>

            <div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="400">
                <div class="fbox-icon">
                    <a href="#"><i class="icon-screwdriver"></i></a>
                </div>
                <h3>Supporto</h3>
                <p>Supporto agli Installatori Elettrici</p>
            </div>

        </div>

        <div class="col-lg-4 d-md-none d-lg-block bottommargin center">
            <img src="assets/images/services.png" alt="iphone 2">
        </div>

        <div class="col-lg-4 col-md-6 bottommargin">

            <div class="feature-box topmargin" data-animate="fadeIn">
                <div class="fbox-icon">
                    <a href="#"><i class="icon-university"></i></a>
                </div>
                <h3>Corsi di formazione</h3>
                <p>Corsi di Formazione di vari livelli, sia commerciali che tecnici su tutti i nostri marchi</p>
            </div>

            <div class="feature-box topmargin" data-animate="fadeIn" data-delay="200">
                <div class="fbox-icon">
                    <a href="#"><i class="icon-bulb"></i></a>
                </div>
                <h3>Miglior risultato</h3>
                <p>Guida alla scelta progettuale più idonea per garantire il miglior risultato tecnico.</p>
            </div>

            <div class="feature-box topmargin" data-animate="fadeIn" data-delay="400">
                <div class="fbox-icon">
                    <a href="#"><i class="icon-headset"></i></a>
                </div>
                <h3>Supporto</h3>
                <p>Supporto Pre e Post Vendita, dalla progettazione sino alla messa in opera del sistema.</p>
            </div>

        </div>

    </div>

</div>