<span class="anchor" id="staff"></span>
<div class="heading-block topmargin-sm center">
    <h3>Lo staff</h3>
</div>

<div class="row">

    {% for author in site.authors %}
    <div class="col-lg-4 col-md-6 bottommargin">

        <div class="team">
            <div class="team-image">
                {% if author.thumbnail != null and author.thumbnail != "" %}
                <img src="assets/images/team/{{ author.thumbnail }}" alt="{{ author.name }}">
                {% else %}
                <img src="{{ 'assets/images/team/thumbnail.jpg' | prepend: relative_url }}" alt="{{ author.name }}">
                {% endif %}
            </div>
            <div class="team-desc team-desc-bg">
                <div class="team-title"><h4>{{ author.name }}</h4>
                <span>{{ author.position }}</span>
                <span><a href="tel:+39{{ author.phone }}" title="Chiama {{ author.name }}">{{ author.phone }}</a></span></div>
                <div class="team-content">
                    <p>{{ author.content | markdownify }}</p>
                </div>
                {% if author.phone != null and author.linkedin != "" %}
                <a href="tel:+39{{ author.phone }}" target="blank" class="social-icon si-rounded si-small si-call" title="Chiama {{ author.name }}">
                    <i class="icon-call"></i>
                    <i class="icon-call"></i>
                </a>
                {% endif %}
                {% if author.linkedin != null and author.linkedin != "" %}
                <a href="{{ author.linkedin }}" target="blank" class="social-icon si-rounded si-small si-linkedin" title="Visita il profilo LinkedIn {{ author.name }}">
                    <i class="icon-linkedin"></i>
                    <i class="icon-linkedin"></i>
                </a>
                {% endif %}
            </div>
        </div>

    </div>
    {% endfor %}

</div>