<!DOCTYPE html>
<html dir="ltr" lang="it-IT">

{% include head.html %}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					{% include logo.html %}

					{% include navHeader.html %}

				</div>

			</div>

		</header><!-- #header end -->

		{% include slider.html %}

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				{% include stripBrand.html %}

				{% include stripWhoIsAPC.html %}

				{% include stripWhoWhyWhat.html %}

				{% include stripServices.html %}

				<div class="section">
					<div class="container clearfix">

						{% include stripStaff.html %}

					</div>
				</div>

			</div>

		</section><!-- #content end -->

		{% include footer.html %}

	</div><!-- #wrapper end -->

	{% include bottomScripts.html%}

</body>
</html>